<mat-card class="min-width full-width">
  <mat-toolbar color="primary">
    <span>Detalhes do curso</span>
  </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex: Angular " formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Nenhuma">Nenhuma</mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
